body {
    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    background-color: #f4f4f4;
}

.navbar {
    background-color: #fff;
    min-height: 88px;
    padding-left: 5%;
    padding-right: 5%;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #ececee;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 20px;
}

.logo img {
    height: 35px;
}

.nav-menu {
    list-style: none;
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
}

.nav-item {
    margin-left: 20px;
}

.nav-link {
    text-decoration: none;
    color: #000;
    padding: 8px 16px;
    line-height: 24px;
}

.nav-link:hover {
    border-radius: 20px;
    background-color: #c3ff66;
    color: #18181b;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    list-style: none;
}

.dropdown-link {
    text-decoration: none;
    color: #000;
    padding: 10px 15px;
    display: block;
}

.dropdown-link:hover {
    background-color: #f1f1f1;
}

.auth-buttons .btn {
    padding: 8px 16px;
    border-style: solid;
    text-decoration: none;
    border-width: 1px;
    border-color: #ececee;
    border-radius: 6px;
    background-color: #fff;
    color: #18181b;
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    letter-spacing: -0.006em;
}





/* Footer section */


.footer {
    background-color: #222;
    color: #fff;
    padding: 24px 5%;
    border-radius: 10px;
    margin: 40px;
}

.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-left {
    width: 40%;
    margin-left: -50px;
}

.footer-left .logo {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.footer-left .logo img {
    height: 40px;
    margin-right: 10px;
    display: block;
}

.footer-left p {
    margin-bottom: 20px;
    line-height: 1.5;
    font-size: 14px;
    line-height: 1.8;
    letter-spacing: -0.006em;
    color: #ababab;
    text-align: left;
}

/* .social-icons a img {
    width: 30px;
    margin-right: 10px;
} */

.footer-right {
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.footer-column {
    margin-right: 0px;
}

.footer-column h3 {
    margin-bottom: 8px;
    color: #e4e4e7;
    font-size: 16px;
    line-height: 1.8;
    font-weight: 500;
    letter-spacing: -0.011em;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 10px;
}

.footer-column ul li a {
  padding-top: 4px;
  padding-bottom: 4px;
  color: #9e9ea9;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.006em;
  text-decoration: none;
}

.footer-bottom {
    width: 80%;
    max-width: 1200px;
    text-align: center;
    margin: 20px auto 0;
    border-top: 1px solid #444;
    padding-top: 10px;
}

/* Responsive styles */
@media (max-width: 768px) {

    .product-icons {
        text-align: center;
    }

    .social-icons {
        text-align: left;
    }

    
    .footer-content {
        flex-direction: column;
        align-items: center;
    }

    .footer-left {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
        margin-left: 0px;
    }

    .footer-right {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
    }

    .footer-column {
        margin-right: 0;
        margin-bottom: 20px;
        text-align: left;
    }
}



.featured-section {
    text-align: center;
    padding: 40px 20px;
  }
  
  .featured-section h2 {
    font-size: 32px;
    margin-bottom: 40px;
    font-weight: bold;
  }
  
  .articles-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
  }
  
  .article {
    max-width: 200px;
  }
  
  .icon {
    width: 100px;
    height: 100px;
    background-color: #f3f3f3;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    margin: 0 auto 20px auto;
  }
  
  .article p {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.4;
  }